.chat-card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column; 

    .chat-header {
        padding: 10px;
        background-color: #0f75c8;
        border-radius: 10px;
        display: flex;
        align-items: center;

        .chat-head-txt {
            font-size: 27px;
            font-weight: 500;
            color: #fff;
        }
    }

    .chat-body {
        padding: 20px;
        overflow-y: auto; 

        .message {
            animation: chatAnimation 0.3s ease-in-out;
            animation-fill-mode: both;
            animation-delay: 0.1s;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            max-width: 100%; 
            word-wrap: break-word; 

            &.incoming {
                background-color: #c7f9b8;
                width: 70%; 
                margin-left: auto;
            }

            &.outgoing {
                background-color: #cdcec5;
                width: 70%; 
            }
        }
    }

    .chat-footer {
        padding: 10px;
        background-color: #8fc1cb;
        display: flex;
        border-radius: 10px;

        input[type="text"] {
            flex-grow: 1;
            padding: 5px;
            border: none;
            border-radius: 3px;
        }

        .chat-send-button {
            font-family: inherit;
            font-size: 13px;
            background: #0490DB;
            color: white;
            padding: 0.7em 1em;
            padding-left: 0.9em;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 16px;
            overflow: hidden;
            transition: all 0.2s;

            span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
            }

            svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
            }

            &:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
            }

            &:hover svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
            }

            &:hover span {
                transform: translateX(5em);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        @keyframes fly-1 {
            from {
                transform: translateY(0.1em);
            }

            to {
                transform: translateY(-0.1em);
            }
        }
    }

    @keyframes chatAnimation {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}




.chat-end-butt {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid #0490DB;
    font-size: 15px;
    font-weight: bold;
    color: #0490DB;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;

    &:before {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: -50%;
        background: #0490DB;
        transition: all 0.5s ease;
        z-index: -1;
    }

    &:after {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 100%;
        background: #0490DB;
        transition: all 0.5s ease;
        z-index: -1;
    }

    &:hover {
        color: white;
        cursor: pointer;

        &:before {
            top: 0;
            left: 0;
        }

        &:after {
            top: 0;
            left: 50%;
        }
    }
}
