
.sea-group {
  display: flex;
  justify-content: center;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 350px;

  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;

    &::placeholder {
      color: #9e9ea7;
    }

    &:focus,
    &:hover {
      outline: none;
      border-color: rgba(8, 69, 251, 0.4);
      background-color: #ffffff;
      box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    }
  }

  .sea-but{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
}




  .user-vdo-startbutt {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid#007BFF;
    font-size: 15px;
    font-weight: bold;
    color:#007BFF;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;
  
    &:before {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: -50%;
      background: #007BFF;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:after {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: 100%;
      background: #007BFF;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      cursor: pointer;
  
      &:before {
        top: 0;
        left: 0;
      }
  
      &:after {
        top: 0;
        left: 50%;
      }
    }
  }

  .user-vdo-cancelbutt {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid #e02323;
    font-size: 15px;
    font-weight: bold;
    color:  #e02323;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;
  
    &:before {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: -50%;
      background:  #e02323;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:after {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: 100%;
      background:  #e02323;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      cursor: pointer;
  
      &:before {
        top: 0;
        left: 0;
      }
  
      &:after {
        top: 0;
        left: 50%;
      }
    }
  }

  .chatBtn {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color:#007BFF;
    background-image: linear-gradient(147deg, #3bdeff, #007BFF, #3bdeff);
    cursor: pointer;
    padding-top: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    position: relative;
    background-size: 300%;
    background-position: left;
    transition-duration: 1s;
  
    .tooltip {
      position: absolute;
      top: -40px;
      opacity: 0;
      background-color: #007BFF;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s;
      pointer-events: none;
      letter-spacing: 0.5px;
    }
  
    &:hover .tooltip {
      opacity: 1;
      transition-duration: 0.5s;
    }
  
    &:hover {
      background-position: right;
      transition-duration: 1s;
    }
  }
  
  
  