.gradient-custom-adtble {
    /* fallback for old browsers */
    background: #65a9f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(72, 129, 234), rgb(41, 138, 222));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom,  rgb(72, 129, 234), rgb(41, 138, 222))
  }