.ad-cookieCard {
  background-color: rgb(70, 166, 210);
  min-height: 100vh;

  .cookieHeading {
    font-size: 2em;
    font-weight: 900;
    color: rgb(241, 241, 241);
  }

  .ad-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px; 

    .red {
      background-color: #f43f5e;
    }

    .blue {
      background-color: #3b82f6;
    }

    .green {
      background-color: #22c55e;
    }

    .yellow {
      background-color: rgb(224, 224, 14);
    }

    .ad-card {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 100px;
      width: 300px; /* Adjust the width as per your requirement */
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: 400ms;
      p.tip {
        font-size: 1em;
        font-weight: 700;
      }

      p.second-text {
        font-size: 0.7em;
      }

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }

    // Media queries for responsive layout

    @media (max-width: 991px) {
      .ad-card {
        width: calc(50% - 15px); // Two cards in a row with some spacing
      }
    }

    @media (max-width: 767px) {
      .ad-card {
        width: calc(100% - 15px); // Single card in a row with some spacing
      }
    }
  }
}
