
  
  .vdoc-cookieCard {
    
    background: linear-gradient(to right, rgb(70, 166, 210), rgb(152, 205, 255));
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    min-height: 100vh;

    .the-main-head{
      color: rgb(78, 83, 84);
      font-size: 2em;
      font-weight: 600;
      padding-bottom: 40px;
    }

    .vdoc-cookieHeading {
      font-size: 2em;
      font-weight: 900;
      color:  rgb(241, 241, 241);;
    }
    .vdoc-thecrd-container{
      background-color: rgb(210, 218, 220);
      padding: 30px;
      border-radius: 8px;
    }

  }
  
  
  @media (max-width: 768px) {
    .vdoc-cookieCard {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;

      .the-main-head{
        font-size: 20px;
        padding-bottom: 20px;
       }
      
      .vdoc-thecrd-container{
        background-color: rgb(210, 218, 220);
         padding: 15px;
         border-radius: 0;

        
       }

    }
    
  }

  


  
  