.the-first-text {
    margin-top: 60px;
    margin-bottom: 40px;
}

.view-day-slot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .view-day-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 4px;
        border-radius: 4px;
        width: 100px;
        height: 40px;
        border: 2px solid #259ec0;
        background-color: #fff;
    }

    .view-day-box.selected {
        background-color: #16a4c4;
        color: #fff;
    }
}

.the-next-text {
    margin-top: 30px;
    margin-bottom: 25px;
}

.notselected-box-ident {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 4px;
    background-color: #8bd6e6;
    border-radius: 4px;
    width: 140px;
    height: 43px;
}

.selected-box-identi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 4px;
    background-color: #16c456;
    border-radius: 4px;
    width: 140px;
    height: 43px;
}

.view-time-slot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    .view-time-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 4px;
        background-color: #8bd6e6;
        border-radius: 4px;
        width: 200px;
        height: 43px;
    }

    .view-time-box.booked {
        background-color: #16c456;
        color: #fff;
    }
}

.time-set-butt {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .time-submit-button {
      display: block;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #193944;
      }

      &:focus {
        outline: none;
      }
    }
  }


  .doc-schedule-startbutt {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid #007bff;
    font-size: 15px;
    font-weight: bold;
    color: #007bff;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;
  
    &:before {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: -50%;
      background: #007bff;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:after {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: 100%;
      background:  #007bff;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      cursor: pointer;
  
      &:before {
        top: 0;
        left: 0;
      }
  
      &:after {
        top: 0;
        left: 50%;
      }
    }
  }

  .doc-schedule-stopbutt {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid #e02323;
    font-size: 15px;
    font-weight: bold;
    color:  #e02323;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;
  
    &:before {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: -50%;
      background:  #e02323;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:after {
      width: 50%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0%;
      left: 100%;
      background:  #e02323;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    &:hover {
      color: white;
      cursor: pointer;
  
      &:before {
        top: 0;
        left: 0;
      }
  
      &:after {
        top: 0;
        left: 50%;
      }
    }
  }
  