// .the-loader-data{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;

//   .loader {
//     width: 48px;
//     height: 48px;
//     background: #353535;
//     display: block;
//     margin: 20px auto;
//     position: relative;
//     box-sizing: border-box;
//     animation: rotationBack 1s ease-in-out infinite reverse;
//   }
  
//   .loader::before {
//     content: '';
//     box-sizing: border-box;
//     left: 0;
//     top: 0;
//     transform: rotate(45deg);
//     position: absolute;
//     width: 48px;
//     height: 48px;
//     background: #2e2e2e;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
//   }
  
//   .loader::after {
//     content: '';
//     box-sizing: border-box;
//     width: 32px;
//     height: 32px;
//     border-radius: 50%;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     background: rgb(0, 0, 0);
//     transform: translate(-50%, -50%);
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
//   }
// }




// @keyframes rotationBack {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(-360deg);
//   }
// }


$primary-color: #007CFF;
$secondary-color: #973BED;
$tertiary-color: #00DA72;
$quaternary-color: #00E0ED;

.the-loader-data{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;

     .absolute {
      position: absolute;
    }
    
    .inline-block {
      display: inline-block;
    }
    
    .loader {
      display: flex;
      margin: 0.25em 0;
    }
    
    .w-2 {
      width: 0.5em;
    }
    
    .dash {
      animation: dashArray 2s ease-in-out infinite, dashOffset 2s linear infinite;
      stroke: $primary-color;
    }
    
    .spin {
      animation: spinDashArray 2s ease-in-out infinite, spin 8s ease-in-out infinite, dashOffset 2s linear infinite;
      transform-origin: center;
      stroke: $secondary-color;
    }
    
    @keyframes dashArray {
      0% {
        stroke-dasharray: 0 1 359 0;
      }
    
      50% {
        stroke-dasharray: 0 359 1 0;
      }
    
      100% {
        stroke-dasharray: 359 1 0 0;
      }
    }
    
    @keyframes spinDashArray {
      0% {
        stroke-dasharray: 270 90;
      }
    
      50% {
        stroke-dasharray: 0 360;
      }
    
      100% {
        stroke-dasharray: 270 90;
      }
    }
    
    @keyframes dashOffset {
      0% {
        stroke-dashoffset: 365;
      }
    
      100% {
        stroke-dashoffset: 5;
      }
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
    
      12.5%,
      25% {
        transform: rotate(270deg);
      }
    
      37.5%,
      50% {
        transform: rotate(540deg);
      }
    
      62.5%,
      75% {
        transform: rotate(810deg);
      }
    
      87.5%,
      100% {
        transform: rotate(1080deg);
      }
    }
    
}