.doc-home-page {
  background: linear-gradient(to right, rgb(70, 166, 210), rgb(152, 205, 255));
  min-height: 100vh;
  .home-sch-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1082px) {
    .home-sch-panel {
      width: 100%;
      height: auto;
    }
  }
}