.doc-home-page{
    background: linear-gradient(to right, rgb(70, 166, 210), rgb(152, 205, 255));
    margin-bottom: 50px;
}

.home-sch-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f1;
    width: 1000px;
    margin: 0 auto 50px;
  }