.doc-home-page {
  background: linear-gradient(to right, rgb(70, 166, 210), rgb(152, 205, 255));
  margin-bottom: 50px;

  .home-sch-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f1;
    width: 1000px;
    margin: 50px auto 50px;

    .view-day-slot-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      .view-day-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 4px;
        border-radius: 4px;
        width: 100px;
        height: 40px;
        border: 2px solid #259ec0;
        background-color: #fff;
      }

      .view-day-box.selected {
        background-color: #16a4c4;
        color: #fff;
      }
    }

    .view-time-slot-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 40px;

      .view-time-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 4px;
        background-color: #8bd6e6;
        border-radius: 4px;
        width: 200px;
        height: 43px;
      }

      .view-time-box.booked {
        background-color: #16c456;
        color: #fff;
      }
    }

    .notselected-box-ident {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      margin: 4px;
      background-color: #8bd6e6;
      border-radius: 4px;
      width: 140px;
      height: 43px;
    }

    .selected-box-identi {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      margin: 4px;
      background-color: #16c456;
      border-radius: 4px;
      width: 140px;
      height: 43px;
    }
  }

  @media (max-width: 1082px) {
    .home-sch-panel {
      width: 100%;
      height: auto;

      .view-time-slot-container,
      .view-day-slot-container {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}