.doc-home-page {
  background: linear-gradient(to right, rgb(70, 166, 210), rgb(152, 205, 255));
  min-height: 100vh;

  .responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .the-main-head-dochome {
    font-size: 2em;
    font-weight: 900;
    color: rgb(241, 241, 241);
    padding-top: 50px;
  }
  .home-sch-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1082px) {
    .the-main-head-dochome {
      font-size: 1.5em;
      padding-top: 30px;
    }
    .home-sch-panel {
      width: 100%;
      height: auto;
    }
  }
}